@use "/assets/styles/variables" as variables;
@use "/assets/styles/mixins" as mixins;

.content-preview-cards {
  &.horizontal {
    .content-preview-cards-grid {
      gap: variables.$block-gap;
      .card-wrapper {
        height: 100%;
      }
    }
  }
  &.vertical {
    width: 100%;
    align-self: baseline;
    .content-preview-cards-grid {
      @include mixins.responsive-grid-vertical;
      .card-wrapper {
        height: 100%;
      }
    }
  }
  .content-preview-cards-grid {
    @media screen and (max-width: variables.$mobile-max-grid) {
      padding: variables.$padding-big;
      gap: variables.$block-gap;
    } 
    .n-card.card-item {
      width: min-content;
      &:hover {
        .n-h {
          color: variables.$accent-color;
        }
      }
      @media screen and (max-width: variables.$mobile-max-grid) {
        width: 100%;
        margin-bottom: variables.$margin-medium;
      }
    }
    
    .n-card .n-card-cover img {
      width: 100%;
      height: 100%;
      @media screen and (max-width: variables.$mobile-max-grid) {
        width: 100%;
      }
    }
  }
}
